html
{
  font-family:'Source Code Pro' !important;
  font-size: 1.5em;

}
body
{
  margin:0% 2%;
}
.duration
{
  display:inline-block;
  width:30%;
}
.color-input
{
  padding:0 0 !important;
  margin:0 0 !important;
  border:5px solid #FFF000;
  border-radius: 50%;
}
#heading
{
  width:30%;
  margin-left:auto;
  margin-right: auto;
  display:block;
}
#input
{
  position: relative;
  height:5%;
}
.description
{
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  display:block;
}
#main-wrapper
{
  width:50%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}
#schedule
{
  margin-top: 5%;
}
#schedule input
{
  color:black;
}
.preview-circle
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.table
{
  margin-bottom: 0;
}
#plus-button
{
  float:right;
  height:30px;
}
#submit-button
{
  border-radius:100%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  width:10%;
  height:10%;
  padding:0;
  font-family:  "Lucida Grande";
  background-color:rgba(255,245,0,1);
  transition: background-color 100 ease-in;
}
#submit-button:hover
{
  color:white;

  background-color:rgba(255,245,0,.8);
  transition: background-color 100 ease-in;

}