html
{
  font-family:'Open Sans' !important;
  font-size: 1.5em;

}
#above-table:hover
{
  background-color: rgba(0,0,0,.2);
  transition: background-color .5s linear;
}
body
{
  padding-top: 0;
  background: -webkit-linear-gradient(right,black, rgba(5,55,0, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,black, rgba(255,230,0, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,black, rgba(255,230,0, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, black, rgba(255,215,0,1)); /* Standard syntax */
}
.ng-leave
{ 
  animation: slideOutLeft 0.5s both ease-in; z-index: 9999; 
}
.duration
{
  display:inline-block;
  width:30%;
}
.color-input
{
  padding:0 0 !important;
  margin:0 0 !important;
  border:5px solid #FFF000;
  border-radius: 50%;
}
#heading
{
  width:30%;
  margin-left:auto;
  margin-right: auto;
  display:block;
}
#input
{
  position: relative;
  height:5%;
}
.description
{
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  display:block;
}
#main-wrapper
{
  width:50%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}
#schedule
{
  margin-top: 5%;
}
#schedule input
{
  color:black;
}
.preview-circle
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.table-hover
{
  margin-bottom: 0;
  background-color: rgba(0,0,0,.3)!important;
  box-shadow: rgba(0,0,0,0.8) 0px 2px 3px;
  border: solid rgba(0,0,0,.1);
}
.table-hover > thead > tr >th
{
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0,0,0,.5);
  transition:background-color 1s linear;
}
.table-hover > tbody > tr > td,
.table-hover > tbody > tr > th {
  border-bottom:1px solid rgba(0,0,0,.2);
  transition:background-color 1s linear;
}


#plus-button
{
  float:right;
  height:30px;
}
#submit-button
{
  border-radius:50%;
  height:100px;
  width:100px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  font-family:  "Lucida Grande";
  background-color:rgba(255,245,0,1);
}
/* Credit to Gregory Schier for this 3D CSS: http://schier.co/post/clicky-3d-buttons-with-css */ 
button.clicky
{
  position: relative;
  margin-top: 10px ;
  margin-bottom: 10px;
  box-shadow: 0 10px 0 0 rgba(255,245,0,.5);
  display: block;
  background: #a47; 
  color: rgba(0,0,0,.5);
  padding: 1em 2em;
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0.9;
  text-align: center;
}
button.clicky:active {
  /** Remove 3D Block Effect on Click **/
  transition: box-shadow .2s;
  box-shadow: none;
  top: 10px;
  margin-bottom: 0;
  color:white;
}


button.clicky:hover {
  opacity: 1;
  color: rgba(0,0,0,.8);
}

button.clicky:active,
button.clicky:focus {
  /** Remove Chrome's Ugly Yellow Outline **/
  outline: 0;
  border:0;
}
/*-----------------*/
.pie {
    width: 32em;
    height: 32em;
    display:block;
    border-radius: 50%;
    background-color: green;
    border: 0px solid green;
    margin: auto auto;
}
#timer-info
{
  text-align: center;
}
#timer-info h3
{
  display:inline-block;
}