html
{
	font-family:'Source Code Pro' !important;
	font-size: 1.5em;

}
body
{
	margin:0% 2%;
}
.page-header
{
	text-align: center;
	color:white;
}
#input
{
  position: relative;
  height:5%;
}
#follower
{
  background-color: blue;
  width:5;  
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index: 10;
}
#main-wrapper
{
  width:50%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}
#schedule
{
  margin-top: 5%;
}
#schedule input
{
  color:black;
}
input[type="range"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  height: 100%;
  background-color: #525252;
  width:100%;
  position:absolute;
  top:0;
  left:0;


}
input[type="range"]::-webkit-slider-thumb
{ 
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  height:100%;
  width:9px;
  background-color: white;
  border: solid white;
}